.bug_link {
  font-size: 80%;
  padding-top: 10px;
}

.data {
  color: #363;
  padding-left: 6px;
}

.ticket_button {
  margin-top: 15px;
  border-style: solid;
  border-width: 4px;
  border-radius: 2px;
  border-color: #EDEDED;
}

.ticket_content {
  padding: 15px;
}
